@inject ICartService CartService
@inject ISyncLocalStorageService  LocalStorage
@implements IDisposable
<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCartCount()</span>
</a>

@code {
    private int GetCartCount(){
        
        var count = LocalStorage.GetItem<int>("cartItemsCount");
        return count;
    }

    protected override void OnInitialized()
    {
        CartService.onChange += StateHasChanged;
    }

    public void Dispose(){
        CartService.onChange -= StateHasChanged;
    }

}
